##############################################
##############################################
##############################################


[CaloDijet2016]
variables = ['mjj[489.,489.,2332.]','th1x[0,0,28]']

histoName = 'h_dat'

variables_range = ['mjj_Low[489.,2332.]', 'mjj_Blind[489.,2332.]', 'mjj_High[489.,2332.]']

combine_parameters = ['Ntot_bkg_CaloDijet2016[3.3e+08]',
                   'p0_CaloDijet2016[1]', 'p1_CaloDijet2016[1]', 'p2_CaloDijet2016[1]',
                   'sqrts[13000]',
                   'CaloDijet2016_bkg_norm[1]',
                   'meff_CaloDijet2016[-1]','seff_CaloDijet2016[-1]',"nPar_CaloDijet2016[3]"]

combine_pdfs = ['RooDijet3ParamBinPdf::CaloDijet2016_bkg(th1x,p1_CaloDijet2016,p2_CaloDijet2016,sqrts)',
                "EXPR::CaloDijet2016_bkg_unbin('p0_CaloDijet2016*(pow(1-mjj/sqrts,p1_CaloDijet2016)/pow(mjj/sqrts,p2_CaloDijet2016))',mjj,p0_CaloDijet2016,p1_CaloDijet2016,p2_CaloDijet2016,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijet2016*CaloDijet2016_bkg)']


signal_mjj = [489, 526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132, 2231, 2332]
signal_th1x = range(0,28+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


