#########################################
#########################################
#########################################


[CaloDijet2017]
variables = ['mjj[270.,270.,1856.]','th1x[0,0,30]','cut[pass=1,fail=0]']

#histoName = 'h_mjj_HLTpass_CaloScoutingHT250'
histoName = 'h_dat'

variables_range = ['mjj_Low[386.,649.]', 'mjj_Blind[649.,838.]', 'mjj_High[838.,1856.]', 'mjj_Eff[270.,1856.]']

combine_parameters = ['Ntot_bkg_CaloDijet2017[1.e+07]', 'p0_CaloDijet2017[1]', 'p1_CaloDijet2017[-14]', 'p2_CaloDijet2017[13]','p3_CaloDijet2017[1.2]',
              'sqrts[13000]','CaloDijet2017_bkg_norm[1]',
              'meff_CaloDijet2017[283.]','seff_CaloDijet2017[49.5]',
              'meff_Mean[282.8]','meff_Sigma[0.1]',
              'seff_Mean[52.7]','seff_Sigma[0.3]']

combine_pdfs = ['RooDijetBinPdf::CaloDijet2017_bkg(th1x,p1_CaloDijet2017,p2_CaloDijet2017,p3_CaloDijet2017,sqrts)',
               "expr::effFunc('1./(1.+exp(-2.4*(mjj-meff_CaloDijet2017)/seff_CaloDijet2017))',mjj,meff_CaloDijet2017,seff_CaloDijet2017)",
               "RooEfficiency::effPdf(effFunc,cut,'pass')",
               "EXPR::CaloDijet2017_bkg_unbin('p0_CaloDijet2017*(pow(1-mjj/sqrts,p1_CaloDijet2017)/pow(mjj/sqrts,p2_CaloDijet2017+p3_CaloDijet2017*log(mjj/sqrts)))/(1.+exp(-2.4*(mjj-meff_CaloDijet2017)/seff_CaloDijet2017))',mjj,p0_CaloDijet2017,p1_CaloDijet2017,p2_CaloDijet2017,p3_CaloDijet2017,sqrts,meff_CaloDijet2017,seff_CaloDijet2017)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijet2017*CaloDijet2017_bkg)']

signal_mjj = [270, 296, 325, 354, 386, 419, 453, 489, 526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856]
signal_th1x = range(0,30+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
