#########################################
#########################################

[CaloDijetSep2016B]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2016B[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2016B[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2016B[3.3e+06]',
                   'p0_CaloDijetSep2016B[1]',
                   'p1_CaloDijetSep2016B[-14]','p2_CaloDijetSep2016B[13]','p3_CaloDijetSep2016B[1.2]',
                   'pa0_CaloDijetSep2016B[1]',
                   'pa1_CaloDijetSep2016B[4.1318e+00]','pa2_CaloDijetSep2016B[3.0984e+01]','pa3_CaloDijetSep2016B[-7.9032e+01]','pa4_CaloDijetSep2016B[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2016B_bkgcms_norm[1]',
                   'CaloDijetSep2016B_bkgatlas_norm[1]',
                   'CaloDijetSep2016B_multi_norm[1]',
                   'meff_CaloDijetSep2016B[-1]','seff_CaloDijetSep2016B[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2016B_bkgcms(th1x,p1_CaloDijetSep2016B,p2_CaloDijetSep2016B,p3_CaloDijetSep2016B,sqrts)',
                "EXPR::CaloDijetSep2016B_bkgcms_unbin('p0_CaloDijetSep2016B*(pow(1-mjj/sqrts,p1_CaloDijetSep2016B)/pow(mjj/sqrts,p2_CaloDijetSep2016B+p3_CaloDijetSep2016B*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2016B,p1_CaloDijetSep2016B,p2_CaloDijetSep2016B,p3_CaloDijetSep2016B,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2016B_bkgatlas(th1x,pa1_CaloDijetSep2016B,pa2_CaloDijetSep2016B,pa3_CaloDijetSep2016B,pa4_CaloDijetSep2016B,sqrtsa)',
                "EXPR::CaloDijetSep2016B_bkgatlas_unbin('pa0_CaloDijetSep2016B/(pow(mjj/sqrtsa,pa1_CaloDijetSep2016B))*exp(-((pa2_CaloDijetSep2016B*(mjj/sqrtsa))+(pa3_CaloDijetSep2016B*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2016B*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2016B,pa1_CaloDijetSep2016B,pa2_CaloDijetSep2016B,pa3_CaloDijetSep2016B,pa4_CaloDijetSep2016B,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2016B_multi(pdf_index,CaloDijetSep2016B_bkgatlas,CaloDijetSep2016B_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2016B*CaloDijetSep2016B_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2016C]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2016C[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2016C[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2016C[3.3e+06]',
                   'p0_CaloDijetSep2016C[1]',
                   'p1_CaloDijetSep2016C[-14]','p2_CaloDijetSep2016C[13]','p3_CaloDijetSep2016C[1.2]',
                   'pa0_CaloDijetSep2016C[1]',
                   'pa1_CaloDijetSep2016C[4.1318e+00]','pa2_CaloDijetSep2016C[3.0984e+01]','pa3_CaloDijetSep2016C[-7.9032e+01]','pa4_CaloDijetSep2016C[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2016C_bkgcms_norm[1]',
                   'CaloDijetSep2016C_bkgatlas_norm[1]',
                   'CaloDijetSep2016C_multi_norm[1]',
                   'meff_CaloDijetSep2016C[-1]','seff_CaloDijetSep2016C[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2016C_bkgcms(th1x,p1_CaloDijetSep2016C,p2_CaloDijetSep2016C,p3_CaloDijetSep2016C,sqrts)',
                "EXPR::CaloDijetSep2016C_bkgcms_unbin('p0_CaloDijetSep2016C*(pow(1-mjj/sqrts,p1_CaloDijetSep2016C)/pow(mjj/sqrts,p2_CaloDijetSep2016C+p3_CaloDijetSep2016C*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2016C,p1_CaloDijetSep2016C,p2_CaloDijetSep2016C,p3_CaloDijetSep2016C,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2016C_bkgatlas(th1x,pa1_CaloDijetSep2016C,pa2_CaloDijetSep2016C,pa3_CaloDijetSep2016C,pa4_CaloDijetSep2016C,sqrtsa)',
                "EXPR::CaloDijetSep2016C_bkgatlas_unbin('pa0_CaloDijetSep2016C/(pow(mjj/sqrtsa,pa1_CaloDijetSep2016C))*exp(-((pa2_CaloDijetSep2016C*(mjj/sqrtsa))+(pa3_CaloDijetSep2016C*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2016C*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2016C,pa1_CaloDijetSep2016C,pa2_CaloDijetSep2016C,pa3_CaloDijetSep2016C,pa4_CaloDijetSep2016C,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2016C_multi(pdf_index,CaloDijetSep2016C_bkgatlas,CaloDijetSep2016C_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2016C*CaloDijetSep2016C_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################

[CaloDijetSep2016D]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2016D[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2016D[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2016D[3.3e+06]',
                   'p0_CaloDijetSep2016D[1]',
                   'p1_CaloDijetSep2016D[-14]','p2_CaloDijetSep2016D[13]','p3_CaloDijetSep2016D[1.2]',
                   'pa0_CaloDijetSep2016D[1]',
                   'pa1_CaloDijetSep2016D[4.1318e+00]','pa2_CaloDijetSep2016D[3.0984e+01]','pa3_CaloDijetSep2016D[-7.9032e+01]','pa4_CaloDijetSep2016D[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2016D_bkgcms_norm[1]',
                   'CaloDijetSep2016D_bkgatlas_norm[1]',
                   'CaloDijetSep2016D_multi_norm[1]',
                   'meff_CaloDijetSep2016D[-1]','seff_CaloDijetSep2016D[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2016D_bkgcms(th1x,p1_CaloDijetSep2016D,p2_CaloDijetSep2016D,p3_CaloDijetSep2016D,sqrts)',
                "EXPR::CaloDijetSep2016D_bkgcms_unbin('p0_CaloDijetSep2016D*(pow(1-mjj/sqrts,p1_CaloDijetSep2016D)/pow(mjj/sqrts,p2_CaloDijetSep2016D+p3_CaloDijetSep2016D*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2016D,p1_CaloDijetSep2016D,p2_CaloDijetSep2016D,p3_CaloDijetSep2016D,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2016D_bkgatlas(th1x,pa1_CaloDijetSep2016D,pa2_CaloDijetSep2016D,pa3_CaloDijetSep2016D,pa4_CaloDijetSep2016D,sqrtsa)',
                "EXPR::CaloDijetSep2016D_bkgatlas_unbin('pa0_CaloDijetSep2016D/(pow(mjj/sqrtsa,pa1_CaloDijetSep2016D))*exp(-((pa2_CaloDijetSep2016D*(mjj/sqrtsa))+(pa3_CaloDijetSep2016D*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2016D*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2016D,pa1_CaloDijetSep2016D,pa2_CaloDijetSep2016D,pa3_CaloDijetSep2016D,pa4_CaloDijetSep2016D,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2016D_multi(pdf_index,CaloDijetSep2016D_bkgatlas,CaloDijetSep2016D_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2016D*CaloDijetSep2016D_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2016E]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2016E[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2016E[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2016E[3.3e+06]',
                   'p0_CaloDijetSep2016E[1]',
                   'p1_CaloDijetSep2016E[-14]','p2_CaloDijetSep2016E[13]','p3_CaloDijetSep2016E[1.2]',
                   'pa0_CaloDijetSep2016E[1]',
                   'pa1_CaloDijetSep2016E[4.1318e+00]','pa2_CaloDijetSep2016E[3.0984e+01]','pa3_CaloDijetSep2016E[-7.9032e+01]','pa4_CaloDijetSep2016E[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2016E_bkgcms_norm[1]',
                   'CaloDijetSep2016E_bkgatlas_norm[1]',
                   'CaloDijetSep2016E_multi_norm[1]',
                   'meff_CaloDijetSep2016E[-1]','seff_CaloDijetSep2016E[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2016E_bkgcms(th1x,p1_CaloDijetSep2016E,p2_CaloDijetSep2016E,p3_CaloDijetSep2016E,sqrts)',
                "EXPR::CaloDijetSep2016E_bkgcms_unbin('p0_CaloDijetSep2016E*(pow(1-mjj/sqrts,p1_CaloDijetSep2016E)/pow(mjj/sqrts,p2_CaloDijetSep2016E+p3_CaloDijetSep2016E*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2016E,p1_CaloDijetSep2016E,p2_CaloDijetSep2016E,p3_CaloDijetSep2016E,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2016E_bkgatlas(th1x,pa1_CaloDijetSep2016E,pa2_CaloDijetSep2016E,pa3_CaloDijetSep2016E,pa4_CaloDijetSep2016E,sqrtsa)',
                "EXPR::CaloDijetSep2016E_bkgatlas_unbin('pa0_CaloDijetSep2016E/(pow(mjj/sqrtsa,pa1_CaloDijetSep2016E))*exp(-((pa2_CaloDijetSep2016E*(mjj/sqrtsa))+(pa3_CaloDijetSep2016E*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2016E*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2016E,pa1_CaloDijetSep2016E,pa2_CaloDijetSep2016E,pa3_CaloDijetSep2016E,pa4_CaloDijetSep2016E,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2016E_multi(pdf_index,CaloDijetSep2016E_bkgatlas,CaloDijetSep2016E_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2016E*CaloDijetSep2016E_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2016F]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2016F[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2016F[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2016F[3.3e+06]',
                   'p0_CaloDijetSep2016F[1]',
                   'p1_CaloDijetSep2016F[-14]','p2_CaloDijetSep2016F[13]','p3_CaloDijetSep2016F[1.2]',
                   'pa0_CaloDijetSep2016F[1]',
                   'pa1_CaloDijetSep2016F[4.1318e+00]','pa2_CaloDijetSep2016F[3.0984e+01]','pa3_CaloDijetSep2016F[-7.9032e+01]','pa4_CaloDijetSep2016F[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2016F_bkgcms_norm[1]',
                   'CaloDijetSep2016F_bkgatlas_norm[1]',
                   'CaloDijetSep2016F_multi_norm[1]',
                   'meff_CaloDijetSep2016F[-1]','seff_CaloDijetSep2016F[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2016F_bkgcms(th1x,p1_CaloDijetSep2016F,p2_CaloDijetSep2016F,p3_CaloDijetSep2016F,sqrts)',
                "EXPR::CaloDijetSep2016F_bkgcms_unbin('p0_CaloDijetSep2016F*(pow(1-mjj/sqrts,p1_CaloDijetSep2016F)/pow(mjj/sqrts,p2_CaloDijetSep2016F+p3_CaloDijetSep2016F*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2016F,p1_CaloDijetSep2016F,p2_CaloDijetSep2016F,p3_CaloDijetSep2016F,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2016F_bkgatlas(th1x,pa1_CaloDijetSep2016F,pa2_CaloDijetSep2016F,pa3_CaloDijetSep2016F,pa4_CaloDijetSep2016F,sqrtsa)',
                "EXPR::CaloDijetSep2016F_bkgatlas_unbin('pa0_CaloDijetSep2016F/(pow(mjj/sqrtsa,pa1_CaloDijetSep2016F))*exp(-((pa2_CaloDijetSep2016F*(mjj/sqrtsa))+(pa3_CaloDijetSep2016F*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2016F*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2016F,pa1_CaloDijetSep2016F,pa2_CaloDijetSep2016F,pa3_CaloDijetSep2016F,pa4_CaloDijetSep2016F,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2016F_multi(pdf_index,CaloDijetSep2016F_bkgatlas,CaloDijetSep2016F_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2016F*CaloDijetSep2016F_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2016G]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2016G[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2016G[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2016G[3.3e+06]',
                   'p0_CaloDijetSep2016G[1]',
                   'p1_CaloDijetSep2016G[-14]','p2_CaloDijetSep2016G[13]','p3_CaloDijetSep2016G[1.2]',
                   'pa0_CaloDijetSep2016G[1]',
                   'pa1_CaloDijetSep2016G[4.1318e+00]','pa2_CaloDijetSep2016G[3.0984e+01]','pa3_CaloDijetSep2016G[-7.9032e+01]','pa4_CaloDijetSep2016G[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2016G_bkgcms_norm[1]',
                   'CaloDijetSep2016G_bkgatlas_norm[1]',
                   'CaloDijetSep2016G_multi_norm[1]',
                   'meff_CaloDijetSep2016G[-1]','seff_CaloDijetSep2016G[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2016G_bkgcms(th1x,p1_CaloDijetSep2016G,p2_CaloDijetSep2016G,p3_CaloDijetSep2016G,sqrts)',
                "EXPR::CaloDijetSep2016G_bkgcms_unbin('p0_CaloDijetSep2016G*(pow(1-mjj/sqrts,p1_CaloDijetSep2016G)/pow(mjj/sqrts,p2_CaloDijetSep2016G+p3_CaloDijetSep2016G*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2016G,p1_CaloDijetSep2016G,p2_CaloDijetSep2016G,p3_CaloDijetSep2016G,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2016G_bkgatlas(th1x,pa1_CaloDijetSep2016G,pa2_CaloDijetSep2016G,pa3_CaloDijetSep2016G,pa4_CaloDijetSep2016G,sqrtsa)',
                "EXPR::CaloDijetSep2016G_bkgatlas_unbin('pa0_CaloDijetSep2016G/(pow(mjj/sqrtsa,pa1_CaloDijetSep2016G))*exp(-((pa2_CaloDijetSep2016G*(mjj/sqrtsa))+(pa3_CaloDijetSep2016G*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2016G*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2016G,pa1_CaloDijetSep2016G,pa2_CaloDijetSep2016G,pa3_CaloDijetSep2016G,pa4_CaloDijetSep2016G,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2016G_multi(pdf_index,CaloDijetSep2016G_bkgatlas,CaloDijetSep2016G_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2016G*CaloDijetSep2016G_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2017C]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2017C[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2017C[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2017C[3.3e+06]',
                   'p0_CaloDijetSep2017C[1]',
                   'p1_CaloDijetSep2017C[-14]','p2_CaloDijetSep2017C[13]','p3_CaloDijetSep2017C[1.2]',
                   'pa0_CaloDijetSep2017C[1]',
                   'pa1_CaloDijetSep2017C[4.1318e+00]','pa2_CaloDijetSep2017C[3.0984e+01]','pa3_CaloDijetSep2017C[-7.9032e+01]','pa4_CaloDijetSep2017C[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2017C_bkgcms_norm[1]',
                   'CaloDijetSep2017C_bkgatlas_norm[1]',
                   'CaloDijetSep2017C_multi_norm[1]',
                   'meff_CaloDijetSep2017C[-1]','seff_CaloDijetSep2017C[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2017C_bkgcms(th1x,p1_CaloDijetSep2017C,p2_CaloDijetSep2017C,p3_CaloDijetSep2017C,sqrts)',
                "EXPR::CaloDijetSep2017C_bkgcms_unbin('p0_CaloDijetSep2017C*(pow(1-mjj/sqrts,p1_CaloDijetSep2017C)/pow(mjj/sqrts,p2_CaloDijetSep2017C+p3_CaloDijetSep2017C*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2017C,p1_CaloDijetSep2017C,p2_CaloDijetSep2017C,p3_CaloDijetSep2017C,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2017C_bkgatlas(th1x,pa1_CaloDijetSep2017C,pa2_CaloDijetSep2017C,pa3_CaloDijetSep2017C,pa4_CaloDijetSep2017C,sqrtsa)',
                "EXPR::CaloDijetSep2017C_bkgatlas_unbin('pa0_CaloDijetSep2017C/(pow(mjj/sqrtsa,pa1_CaloDijetSep2017C))*exp(-((pa2_CaloDijetSep2017C*(mjj/sqrtsa))+(pa3_CaloDijetSep2017C*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2017C*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2017C,pa1_CaloDijetSep2017C,pa2_CaloDijetSep2017C,pa3_CaloDijetSep2017C,pa4_CaloDijetSep2017C,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2017C_multi(pdf_index,CaloDijetSep2017C_bkgatlas,CaloDijetSep2017C_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2017C*CaloDijetSep2017C_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2017D]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2017D[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2017D[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2017D[3.3e+06]',
                   'p0_CaloDijetSep2017D[1]',
                   'p1_CaloDijetSep2017D[-14]','p2_CaloDijetSep2017D[13]','p3_CaloDijetSep2017D[1.2]',
                   'pa0_CaloDijetSep2017D[1]',
                   'pa1_CaloDijetSep2017D[4.1318e+00]','pa2_CaloDijetSep2017D[3.0984e+01]','pa3_CaloDijetSep2017D[-7.9032e+01]','pa4_CaloDijetSep2017D[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2017D_bkgcms_norm[1]',
                   'CaloDijetSep2017D_bkgatlas_norm[1]',
                   'CaloDijetSep2017D_multi_norm[1]',
                   'meff_CaloDijetSep2017D[-1]','seff_CaloDijetSep2017D[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2017D_bkgcms(th1x,p1_CaloDijetSep2017D,p2_CaloDijetSep2017D,p3_CaloDijetSep2017D,sqrts)',
                "EXPR::CaloDijetSep2017D_bkgcms_unbin('p0_CaloDijetSep2017D*(pow(1-mjj/sqrts,p1_CaloDijetSep2017D)/pow(mjj/sqrts,p2_CaloDijetSep2017D+p3_CaloDijetSep2017D*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2017D,p1_CaloDijetSep2017D,p2_CaloDijetSep2017D,p3_CaloDijetSep2017D,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2017D_bkgatlas(th1x,pa1_CaloDijetSep2017D,pa2_CaloDijetSep2017D,pa3_CaloDijetSep2017D,pa4_CaloDijetSep2017D,sqrtsa)',
                "EXPR::CaloDijetSep2017D_bkgatlas_unbin('pa0_CaloDijetSep2017D/(pow(mjj/sqrtsa,pa1_CaloDijetSep2017D))*exp(-((pa2_CaloDijetSep2017D*(mjj/sqrtsa))+(pa3_CaloDijetSep2017D*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2017D*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2017D,pa1_CaloDijetSep2017D,pa2_CaloDijetSep2017D,pa3_CaloDijetSep2017D,pa4_CaloDijetSep2017D,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2017D_multi(pdf_index,CaloDijetSep2017D_bkgatlas,CaloDijetSep2017D_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2017D*CaloDijetSep2017D_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################



[CaloDijetSep2017E]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2017E[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2017E[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2017E[3.3e+06]',
                   'p0_CaloDijetSep2017E[1]',
                   'p1_CaloDijetSep2017E[-14]','p2_CaloDijetSep2017E[13]','p3_CaloDijetSep2017E[1.2]',
                   'pa0_CaloDijetSep2017E[1]',
                   'pa1_CaloDijetSep2017E[4.1318e+00]','pa2_CaloDijetSep2017E[3.0984e+01]','pa3_CaloDijetSep2017E[-7.9032e+01]','pa4_CaloDijetSep2017E[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2017E_bkgcms_norm[1]',
                   'CaloDijetSep2017E_bkgatlas_norm[1]',
                   'CaloDijetSep2017E_multi_norm[1]',
                   'meff_CaloDijetSep2017E[-1]','seff_CaloDijetSep2017E[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2017E_bkgcms(th1x,p1_CaloDijetSep2017E,p2_CaloDijetSep2017E,p3_CaloDijetSep2017E,sqrts)',
                "EXPR::CaloDijetSep2017E_bkgcms_unbin('p0_CaloDijetSep2017E*(pow(1-mjj/sqrts,p1_CaloDijetSep2017E)/pow(mjj/sqrts,p2_CaloDijetSep2017E+p3_CaloDijetSep2017E*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2017E,p1_CaloDijetSep2017E,p2_CaloDijetSep2017E,p3_CaloDijetSep2017E,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2017E_bkgatlas(th1x,pa1_CaloDijetSep2017E,pa2_CaloDijetSep2017E,pa3_CaloDijetSep2017E,pa4_CaloDijetSep2017E,sqrtsa)',
                "EXPR::CaloDijetSep2017E_bkgatlas_unbin('pa0_CaloDijetSep2017E/(pow(mjj/sqrtsa,pa1_CaloDijetSep2017E))*exp(-((pa2_CaloDijetSep2017E*(mjj/sqrtsa))+(pa3_CaloDijetSep2017E*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2017E*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2017E,pa1_CaloDijetSep2017E,pa2_CaloDijetSep2017E,pa3_CaloDijetSep2017E,pa4_CaloDijetSep2017E,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2017E_multi(pdf_index,CaloDijetSep2017E_bkgatlas,CaloDijetSep2017E_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2017E*CaloDijetSep2017E_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2017F]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2017F[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2017F[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2017F[3.3e+06]',
                   'p0_CaloDijetSep2017F[1]',
                   'p1_CaloDijetSep2017F[-14]','p2_CaloDijetSep2017F[13]','p3_CaloDijetSep2017F[1.2]',
                   'pa0_CaloDijetSep2017F[1]',
                   'pa1_CaloDijetSep2017F[4.1318e+00]','pa2_CaloDijetSep2017F[3.0984e+01]','pa3_CaloDijetSep2017F[-7.9032e+01]','pa4_CaloDijetSep2017F[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2017F_bkgcms_norm[1]',
                   'CaloDijetSep2017F_bkgatlas_norm[1]',
                   'CaloDijetSep2017F_multi_norm[1]',
                   'meff_CaloDijetSep2017F[-1]','seff_CaloDijetSep2017F[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2017F_bkgcms(th1x,p1_CaloDijetSep2017F,p2_CaloDijetSep2017F,p3_CaloDijetSep2017F,sqrts)',
                "EXPR::CaloDijetSep2017F_bkgcms_unbin('p0_CaloDijetSep2017F*(pow(1-mjj/sqrts,p1_CaloDijetSep2017F)/pow(mjj/sqrts,p2_CaloDijetSep2017F+p3_CaloDijetSep2017F*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2017F,p1_CaloDijetSep2017F,p2_CaloDijetSep2017F,p3_CaloDijetSep2017F,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2017F_bkgatlas(th1x,pa1_CaloDijetSep2017F,pa2_CaloDijetSep2017F,pa3_CaloDijetSep2017F,pa4_CaloDijetSep2017F,sqrtsa)',
                "EXPR::CaloDijetSep2017F_bkgatlas_unbin('pa0_CaloDijetSep2017F/(pow(mjj/sqrtsa,pa1_CaloDijetSep2017F))*exp(-((pa2_CaloDijetSep2017F*(mjj/sqrtsa))+(pa3_CaloDijetSep2017F*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2017F*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2017F,pa1_CaloDijetSep2017F,pa2_CaloDijetSep2017F,pa3_CaloDijetSep2017F,pa4_CaloDijetSep2017F,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2017F_multi(pdf_index,CaloDijetSep2017F_bkgatlas,CaloDijetSep2017F_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2017F*CaloDijetSep2017F_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2018A]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2018A[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2018A[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2018A[3.3e+06]',
                   'p0_CaloDijetSep2018A[1]',
                   'p1_CaloDijetSep2018A[-14]','p2_CaloDijetSep2018A[13]','p3_CaloDijetSep2018A[1.2]',
                   'pa0_CaloDijetSep2018A[1]',
                   'pa1_CaloDijetSep2018A[4.1318e+00]','pa2_CaloDijetSep2018A[3.0984e+01]','pa3_CaloDijetSep2018A[-7.9032e+01]','pa4_CaloDijetSep2018A[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2018A_bkgcms_norm[1]',
                   'CaloDijetSep2018A_bkgatlas_norm[1]',
                   'CaloDijetSep2018A_multi_norm[1]',
                   'meff_CaloDijetSep2018A[-1]','seff_CaloDijetSep2018A[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2018A_bkgcms(th1x,p1_CaloDijetSep2018A,p2_CaloDijetSep2018A,p3_CaloDijetSep2018A,sqrts)',
                "EXPR::CaloDijetSep2018A_bkgcms_unbin('p0_CaloDijetSep2018A*(pow(1-mjj/sqrts,p1_CaloDijetSep2018A)/pow(mjj/sqrts,p2_CaloDijetSep2018A+p3_CaloDijetSep2018A*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2018A,p1_CaloDijetSep2018A,p2_CaloDijetSep2018A,p3_CaloDijetSep2018A,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2018A_bkgatlas(th1x,pa1_CaloDijetSep2018A,pa2_CaloDijetSep2018A,pa3_CaloDijetSep2018A,pa4_CaloDijetSep2018A,sqrtsa)',
                "EXPR::CaloDijetSep2018A_bkgatlas_unbin('pa0_CaloDijetSep2018A/(pow(mjj/sqrtsa,pa1_CaloDijetSep2018A))*exp(-((pa2_CaloDijetSep2018A*(mjj/sqrtsa))+(pa3_CaloDijetSep2018A*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2018A*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2018A,pa1_CaloDijetSep2018A,pa2_CaloDijetSep2018A,pa3_CaloDijetSep2018A,pa4_CaloDijetSep2018A,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2018A_multi(pdf_index,CaloDijetSep2018A_bkgatlas,CaloDijetSep2018A_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2018A*CaloDijetSep2018A_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2018B]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2018B[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2018B[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2018B[3.3e+06]',
                   'p0_CaloDijetSep2018B[1]',
                   'p1_CaloDijetSep2018B[-14]','p2_CaloDijetSep2018B[13]','p3_CaloDijetSep2018B[1.2]',
                   'pa0_CaloDijetSep2018B[1]',
                   'pa1_CaloDijetSep2018B[4.1318e+00]','pa2_CaloDijetSep2018B[3.0984e+01]','pa3_CaloDijetSep2018B[-7.9032e+01]','pa4_CaloDijetSep2018B[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2018B_bkgcms_norm[1]',
                   'CaloDijetSep2018B_bkgatlas_norm[1]',
                   'CaloDijetSep2018B_multi_norm[1]',
                   'meff_CaloDijetSep2018B[-1]','seff_CaloDijetSep2018B[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2018B_bkgcms(th1x,p1_CaloDijetSep2018B,p2_CaloDijetSep2018B,p3_CaloDijetSep2018B,sqrts)',
                "EXPR::CaloDijetSep2018B_bkgcms_unbin('p0_CaloDijetSep2018B*(pow(1-mjj/sqrts,p1_CaloDijetSep2018B)/pow(mjj/sqrts,p2_CaloDijetSep2018B+p3_CaloDijetSep2018B*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2018B,p1_CaloDijetSep2018B,p2_CaloDijetSep2018B,p3_CaloDijetSep2018B,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2018B_bkgatlas(th1x,pa1_CaloDijetSep2018B,pa2_CaloDijetSep2018B,pa3_CaloDijetSep2018B,pa4_CaloDijetSep2018B,sqrtsa)',
                "EXPR::CaloDijetSep2018B_bkgatlas_unbin('pa0_CaloDijetSep2018B/(pow(mjj/sqrtsa,pa1_CaloDijetSep2018B))*exp(-((pa2_CaloDijetSep2018B*(mjj/sqrtsa))+(pa3_CaloDijetSep2018B*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2018B*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2018B,pa1_CaloDijetSep2018B,pa2_CaloDijetSep2018B,pa3_CaloDijetSep2018B,pa4_CaloDijetSep2018B,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2018B_multi(pdf_index,CaloDijetSep2018B_bkgatlas,CaloDijetSep2018B_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2018B*CaloDijetSep2018B_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2018C]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2018C[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2018C[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2018C[3.3e+06]',
                   'p0_CaloDijetSep2018C[1]',
                   'p1_CaloDijetSep2018C[-14]','p2_CaloDijetSep2018C[13]','p3_CaloDijetSep2018C[1.2]',
                   'pa0_CaloDijetSep2018C[1]',
                   'pa1_CaloDijetSep2018C[4.1318e+00]','pa2_CaloDijetSep2018C[3.0984e+01]','pa3_CaloDijetSep2018C[-7.9032e+01]','pa4_CaloDijetSep2018C[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2018C_bkgcms_norm[1]',
                   'CaloDijetSep2018C_bkgatlas_norm[1]',
                   'CaloDijetSep2018C_multi_norm[1]',
                   'meff_CaloDijetSep2018C[-1]','seff_CaloDijetSep2018C[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2018C_bkgcms(th1x,p1_CaloDijetSep2018C,p2_CaloDijetSep2018C,p3_CaloDijetSep2018C,sqrts)',
                "EXPR::CaloDijetSep2018C_bkgcms_unbin('p0_CaloDijetSep2018C*(pow(1-mjj/sqrts,p1_CaloDijetSep2018C)/pow(mjj/sqrts,p2_CaloDijetSep2018C+p3_CaloDijetSep2018C*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2018C,p1_CaloDijetSep2018C,p2_CaloDijetSep2018C,p3_CaloDijetSep2018C,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2018C_bkgatlas(th1x,pa1_CaloDijetSep2018C,pa2_CaloDijetSep2018C,pa3_CaloDijetSep2018C,pa4_CaloDijetSep2018C,sqrtsa)',
                "EXPR::CaloDijetSep2018C_bkgatlas_unbin('pa0_CaloDijetSep2018C/(pow(mjj/sqrtsa,pa1_CaloDijetSep2018C))*exp(-((pa2_CaloDijetSep2018C*(mjj/sqrtsa))+(pa3_CaloDijetSep2018C*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2018C*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2018C,pa1_CaloDijetSep2018C,pa2_CaloDijetSep2018C,pa3_CaloDijetSep2018C,pa4_CaloDijetSep2018C,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2018C_multi(pdf_index,CaloDijetSep2018C_bkgatlas,CaloDijetSep2018C_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2018C*CaloDijetSep2018C_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijetSep2018D]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijetSep2018D[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijetSep2018D[3.3e+06]',
                   'Ntot_multi_CaloDijetSep2018D[3.3e+06]',
                   'p0_CaloDijetSep2018D[1]',
                   'p1_CaloDijetSep2018D[-14]','p2_CaloDijetSep2018D[13]','p3_CaloDijetSep2018D[1.2]',
                   'pa0_CaloDijetSep2018D[1]',
                   'pa1_CaloDijetSep2018D[4.1318e+00]','pa2_CaloDijetSep2018D[3.0984e+01]','pa3_CaloDijetSep2018D[-7.9032e+01]','pa4_CaloDijetSep2018D[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijetSep2018D_bkgcms_norm[1]',
                   'CaloDijetSep2018D_bkgatlas_norm[1]',
                   'CaloDijetSep2018D_multi_norm[1]',
                   'meff_CaloDijetSep2018D[-1]','seff_CaloDijetSep2018D[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijetSep2018D_bkgcms(th1x,p1_CaloDijetSep2018D,p2_CaloDijetSep2018D,p3_CaloDijetSep2018D,sqrts)',
                "EXPR::CaloDijetSep2018D_bkgcms_unbin('p0_CaloDijetSep2018D*(pow(1-mjj/sqrts,p1_CaloDijetSep2018D)/pow(mjj/sqrts,p2_CaloDijetSep2018D+p3_CaloDijetSep2018D*log(mjj/sqrts)))',mjj,p0_CaloDijetSep2018D,p1_CaloDijetSep2018D,p2_CaloDijetSep2018D,p3_CaloDijetSep2018D,sqrts)",
                'RooAtlasBinPdf::CaloDijetSep2018D_bkgatlas(th1x,pa1_CaloDijetSep2018D,pa2_CaloDijetSep2018D,pa3_CaloDijetSep2018D,pa4_CaloDijetSep2018D,sqrtsa)',
                "EXPR::CaloDijetSep2018D_bkgatlas_unbin('pa0_CaloDijetSep2018D/(pow(mjj/sqrtsa,pa1_CaloDijetSep2018D))*exp(-((pa2_CaloDijetSep2018D*(mjj/sqrtsa))+(pa3_CaloDijetSep2018D*pow(mjj/sqrtsa,2))+(pa4_CaloDijetSep2018D*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijetSep2018D,pa1_CaloDijetSep2018D,pa2_CaloDijetSep2018D,pa3_CaloDijetSep2018D,pa4_CaloDijetSep2018D,sqrtsa)",
                'RooMultiPdf::CaloDijetSep2018D_multi(pdf_index,CaloDijetSep2018D_bkgatlas,CaloDijetSep2018D_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijetSep2018D*CaloDijetSep2018D_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################



