#########################################
#########################################

[CaloDijet2016]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijet2016[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijet2016[3.3e+06]',
                   'Ntot_multi_CaloDijet2016[3.3e+06]',
                   'p0_CaloDijet2016[1]',
                   'p1_CaloDijet2016[-14]','p2_CaloDijet2016[13]','p3_CaloDijet2016[1.2]',
                   'pa0_CaloDijet2016[1]',
                   'pa1_CaloDijet2016[4.1318e+00]','pa2_CaloDijet2016[3.0984e+01]','pa3_CaloDijet2016[-7.9032e+01]','pa4_CaloDijet2016[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijet2016_bkgcms_norm[1]',
                   'CaloDijet2016_bkgatlas_norm[1]',
                   'CaloDijet2016_multi_norm[1]',
                   'meff_CaloDijet2016[-1]','seff_CaloDijet2016[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijet2016_bkgcms(th1x,p1_CaloDijet2016,p2_CaloDijet2016,p3_CaloDijet2016,sqrts)',
                "EXPR::CaloDijet2016_bkgcms_unbin('p0_CaloDijet2016*(pow(1-mjj/sqrts,p1_CaloDijet2016)/pow(mjj/sqrts,p2_CaloDijet2016+p3_CaloDijet2016*log(mjj/sqrts)))',mjj,p0_CaloDijet2016,p1_CaloDijet2016,p2_CaloDijet2016,p3_CaloDijet2016,sqrts)",
                'RooAtlasBinPdf::CaloDijet2016_bkgatlas(th1x,pa1_CaloDijet2016,pa2_CaloDijet2016,pa3_CaloDijet2016,pa4_CaloDijet2016,sqrtsa)',
                "EXPR::CaloDijet2016_bkgatlas_unbin('pa0_CaloDijet2016/(pow(mjj/sqrtsa,pa1_CaloDijet2016))*exp(-((pa2_CaloDijet2016*(mjj/sqrtsa))+(pa3_CaloDijet2016*pow(mjj/sqrtsa,2))+(pa4_CaloDijet2016*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijet2016,pa1_CaloDijet2016,pa2_CaloDijet2016,pa3_CaloDijet2016,pa4_CaloDijet2016,sqrtsa)",
                'RooMultiPdf::CaloDijet2016_multi(pdf_index,CaloDijet2016_bkgatlas,CaloDijet2016_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijet2016*CaloDijet2016_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################


[CaloDijet2017]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijet2017[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijet2017[3.3e+06]',
                   'Ntot_multi_CaloDijet2017[3.3e+06]',
                   'p0_CaloDijet2017[1]',
                   'p1_CaloDijet2017[-14]','p2_CaloDijet2017[13]','p3_CaloDijet2017[1.2]',
                   'pa0_CaloDijet2017[1]',
                   'pa1_CaloDijet2017[4.1318e+00]','pa2_CaloDijet2017[3.0984e+01]','pa3_CaloDijet2017[-7.9032e+01]','pa4_CaloDijet2017[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijet2017_bkgcms_norm[1]',
                   'CaloDijet2017_bkgatlas_norm[1]',
                   'CaloDijet2017_multi_norm[1]',
                   'meff_CaloDijet2017[-1]','seff_CaloDijet2017[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijet2017_bkgcms(th1x,p1_CaloDijet2017,p2_CaloDijet2017,p3_CaloDijet2017,sqrts)',
                "EXPR::CaloDijet2017_bkgcms_unbin('p0_CaloDijet2017*(pow(1-mjj/sqrts,p1_CaloDijet2017)/pow(mjj/sqrts,p2_CaloDijet2017+p3_CaloDijet2017*log(mjj/sqrts)))',mjj,p0_CaloDijet2017,p1_CaloDijet2017,p2_CaloDijet2017,p3_CaloDijet2017,sqrts)",
                'RooAtlasBinPdf::CaloDijet2017_bkgatlas(th1x,pa1_CaloDijet2017,pa2_CaloDijet2017,pa3_CaloDijet2017,pa4_CaloDijet2017,sqrtsa)',
                "EXPR::CaloDijet2017_bkgatlas_unbin('pa0_CaloDijet2017/(pow(mjj/sqrtsa,pa1_CaloDijet2017))*exp(-((pa2_CaloDijet2017*(mjj/sqrtsa))+(pa3_CaloDijet2017*pow(mjj/sqrtsa,2))+(pa4_CaloDijet2017*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijet2017,pa1_CaloDijet2017,pa2_CaloDijet2017,pa3_CaloDijet2017,pa4_CaloDijet2017,sqrtsa)",
                'RooMultiPdf::CaloDijet2017_multi(pdf_index,CaloDijet2017_bkgatlas,CaloDijet2017_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijet2017*CaloDijet2017_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]



#########################################
#########################################

[CaloDijet2018]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijet2018[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijet2018[3.3e+06]',
                   'Ntot_multi_CaloDijet2018[3.3e+06]',
                   'p0_CaloDijet2018[1]',
                   'p1_CaloDijet2018[-14]','p2_CaloDijet2018[13]','p3_CaloDijet2018[1.2]',
                   'pa0_CaloDijet2018[1]',
                   'pa1_CaloDijet2018[4.1318e+00]','pa2_CaloDijet2018[3.0984e+01]','pa3_CaloDijet2018[-7.9032e+01]','pa4_CaloDijet2018[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijet2018_bkgcms_norm[1]',
                   'CaloDijet2018_bkgatlas_norm[1]',
                   'CaloDijet2018_multi_norm[1]',
                   'meff_CaloDijet2018[-1]','seff_CaloDijet2018[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijet2018_bkgcms(th1x,p1_CaloDijet2018,p2_CaloDijet2018,p3_CaloDijet2018,sqrts)',
                "EXPR::CaloDijet2018_bkgcms_unbin('p0_CaloDijet2018*(pow(1-mjj/sqrts,p1_CaloDijet2018)/pow(mjj/sqrts,p2_CaloDijet2018+p3_CaloDijet2018*log(mjj/sqrts)))',mjj,p0_CaloDijet2018,p1_CaloDijet2018,p2_CaloDijet2018,p3_CaloDijet2018,sqrts)",
                'RooAtlasBinPdf::CaloDijet2018_bkgatlas(th1x,pa1_CaloDijet2018,pa2_CaloDijet2018,pa3_CaloDijet2018,pa4_CaloDijet2018,sqrtsa)',
                "EXPR::CaloDijet2018_bkgatlas_unbin('pa0_CaloDijet2018/(pow(mjj/sqrtsa,pa1_CaloDijet2018))*exp(-((pa2_CaloDijet2018*(mjj/sqrtsa))+(pa3_CaloDijet2018*pow(mjj/sqrtsa,2))+(pa4_CaloDijet2018*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijet2018,pa1_CaloDijet2018,pa2_CaloDijet2018,pa3_CaloDijet2018,pa4_CaloDijet2018,sqrtsa)",
                'RooMultiPdf::CaloDijet2018_multi(pdf_index,CaloDijet2018_bkgatlas,CaloDijet2018_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijet2018*CaloDijet2018_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]


#########################################
#########################################

[CaloDijet2016p2017p2018]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]','pdf_index[atlas=0,CMS=1]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']



combine_parameters = ['Ntot_bkg_CaloDijet2016p2017p2018[3.3e+06]',
                   'Ntot_bkgatlas_CaloDijet2016p2017p2018[3.3e+06]',
                   'Ntot_multi_CaloDijet2016p2017p2018[3.3e+06]',
                   'p0_CaloDijet2016p2017p2018[1]',
                   'p1_CaloDijet2016p2017p2018[-14]','p2_CaloDijet2016p2017p2018[13]','p3_CaloDijet2016p2017p2018[1.2]',
                   'pa0_CaloDijet2016p2017p2018[1]',
                   'pa1_CaloDijet2016p2017p2018[4.1318e+00]','pa2_CaloDijet2016p2017p2018[3.0984e+01]','pa3_CaloDijet2016p2017p2018[-7.9032e+01]','pa4_CaloDijet2016p2017p2018[1.4974e+02]',
                   'sqrts[13000]','sqrtsa[13000]',
                   'CaloDijet2016p2017p2018_bkgcms_norm[1]',
                   'CaloDijet2016p2017p2018_bkgatlas_norm[1]',
                   'CaloDijet2016p2017p2018_multi_norm[1]',
                   'meff_CaloDijet2016p2017p2018[-1]','seff_CaloDijet2016p2017p2018[-1]']

combine_pdfs = ['RooDijetBinPdf::CaloDijet2016p2017p2018_bkgcms(th1x,p1_CaloDijet2016p2017p2018,p2_CaloDijet2016p2017p2018,p3_CaloDijet2016p2017p2018,sqrts)',
                "EXPR::CaloDijet2016p2017p2018_bkgcms_unbin('p0_CaloDijet2016p2017p2018*(pow(1-mjj/sqrts,p1_CaloDijet2016p2017p2018)/pow(mjj/sqrts,p2_CaloDijet2016p2017p2018+p3_CaloDijet2016p2017p2018*log(mjj/sqrts)))',mjj,p0_CaloDijet2016p2017p2018,p1_CaloDijet2016p2017p2018,p2_CaloDijet2016p2017p2018,p3_CaloDijet2016p2017p2018,sqrts)",
                'RooAtlasBinPdf::CaloDijet2016p2017p2018_bkgatlas(th1x,pa1_CaloDijet2016p2017p2018,pa2_CaloDijet2016p2017p2018,pa3_CaloDijet2016p2017p2018,pa4_CaloDijet2016p2017p2018,sqrtsa)',
                "EXPR::CaloDijet2016p2017p2018_bkgatlas_unbin('pa0_CaloDijet2016p2017p2018/(pow(mjj/sqrtsa,pa1_CaloDijet2016p2017p2018))*exp(-((pa2_CaloDijet2016p2017p2018*(mjj/sqrtsa))+(pa3_CaloDijet2016p2017p2018*pow(mjj/sqrtsa,2))+(pa4_CaloDijet2016p2017p2018*pow(mjj/sqrtsa,3))))',mjj,pa0_CaloDijet2016p2017p2018,pa1_CaloDijet2016p2017p2018,pa2_CaloDijet2016p2017p2018,pa3_CaloDijet2016p2017p2018,pa4_CaloDijet2016p2017p2018,sqrtsa)",
                'RooMultiPdf::CaloDijet2016p2017p2018_multi(pdf_index,CaloDijet2016p2017p2018_bkgatlas,CaloDijet2016p2017p2018_bkgcms)',
                'SUM::extDijetPdf(Ntot_multi_CaloDijet2016p2017p2018*CaloDijet2016p2017p2018_multi)']



signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]




