########################################
########################################


[CaloDijetSep2016B]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2016B[3.9e+08]',
              'p0_CaloDijetSep2016B[1]','p1_CaloDijetSep2016B[5.04e-03]','p2_CaloDijetSep2016B[7.06]','p3_CaloDijetSep2016B[4.78]',
              'sqrts[13000]','CaloDijetSep2016B_bkg_norm[1]',
              'meff_CaloDijetSep2016B[-1]','seff_CaloDijetSep2016B[-1]',"nPar_CaloDijetSep2016B[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2016B_bkg(th1x,p1_CaloDijetSep2016B,p2_CaloDijetSep2016B,p3_CaloDijetSep2016B,sqrts)',
                "EXPR::CaloDijetSep2016B_bkg_unbin('pow(p0_CaloDijetSep2016B*(1+(p1_CaloDijetSep2016B*(mjj/sqrts))+(p2_CaloDijetSep2016B*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2016B))',mjj,p0_CaloDijetSep2016B,p1_CaloDijetSep2016B,p2_CaloDijetSep2016B,p3_CaloDijetSep2016B,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2016B*CaloDijetSep2016B_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2016C]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2016C[3.9e+08]',
              'p0_CaloDijetSep2016C[1]','p1_CaloDijetSep2016C[5.04e-03]','p2_CaloDijetSep2016C[7.06]','p3_CaloDijetSep2016C[4.78]',
              'sqrts[13000]','CaloDijetSep2016C_bkg_norm[1]',
              'meff_CaloDijetSep2016C[-1]','seff_CaloDijetSep2016C[-1]',"nPar_CaloDijetSep2016C[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2016C_bkg(th1x,p1_CaloDijetSep2016C,p2_CaloDijetSep2016C,p3_CaloDijetSep2016C,sqrts)',
                "EXPR::CaloDijetSep2016C_bkg_unbin('pow(p0_CaloDijetSep2016C*(1+(p1_CaloDijetSep2016C*(mjj/sqrts))+(p2_CaloDijetSep2016C*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2016C))',mjj,p0_CaloDijetSep2016C,p1_CaloDijetSep2016C,p2_CaloDijetSep2016C,p3_CaloDijetSep2016C,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2016C*CaloDijetSep2016C_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2016D]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2016D[3.9e+08]',
              'p0_CaloDijetSep2016D[1]','p1_CaloDijetSep2016D[5.04e-03]','p2_CaloDijetSep2016D[7.06]','p3_CaloDijetSep2016D[4.78]',
              'sqrts[13000]','CaloDijetSep2016D_bkg_norm[1]',
              'meff_CaloDijetSep2016D[-1]','seff_CaloDijetSep2016D[-1]',"nPar_CaloDijetSep2016D[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2016D_bkg(th1x,p1_CaloDijetSep2016D,p2_CaloDijetSep2016D,p3_CaloDijetSep2016D,sqrts)',
                "EXPR::CaloDijetSep2016D_bkg_unbin('pow(p0_CaloDijetSep2016D*(1+(p1_CaloDijetSep2016D*(mjj/sqrts))+(p2_CaloDijetSep2016D*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2016D))',mjj,p0_CaloDijetSep2016D,p1_CaloDijetSep2016D,p2_CaloDijetSep2016D,p3_CaloDijetSep2016D,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2016D*CaloDijetSep2016D_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2016E]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2016E[3.9e+08]',
              'p0_CaloDijetSep2016E[1]','p1_CaloDijetSep2016E[5.04e-03]','p2_CaloDijetSep2016E[7.06]','p3_CaloDijetSep2016E[4.78]',
              'sqrts[13000]','CaloDijetSep2016E_bkg_norm[1]',
              'meff_CaloDijetSep2016E[-1]','seff_CaloDijetSep2016E[-1]',"nPar_CaloDijetSep2016E[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2016E_bkg(th1x,p1_CaloDijetSep2016E,p2_CaloDijetSep2016E,p3_CaloDijetSep2016E,sqrts)',
                "EXPR::CaloDijetSep2016E_bkg_unbin('pow(p0_CaloDijetSep2016E*(1+(p1_CaloDijetSep2016E*(mjj/sqrts))+(p2_CaloDijetSep2016E*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2016E))',mjj,p0_CaloDijetSep2016E,p1_CaloDijetSep2016E,p2_CaloDijetSep2016E,p3_CaloDijetSep2016E,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2016E*CaloDijetSep2016E_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2016F]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2016F[3.9e+08]',
              'p0_CaloDijetSep2016F[1]','p1_CaloDijetSep2016F[5.04e-03]','p2_CaloDijetSep2016F[7.06]','p3_CaloDijetSep2016F[4.78]',
              'sqrts[13000]','CaloDijetSep2016F_bkg_norm[1]',
              'meff_CaloDijetSep2016F[-1]','seff_CaloDijetSep2016F[-1]',"nPar_CaloDijetSep2016F[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2016F_bkg(th1x,p1_CaloDijetSep2016F,p2_CaloDijetSep2016F,p3_CaloDijetSep2016F,sqrts)',
                "EXPR::CaloDijetSep2016F_bkg_unbin('pow(p0_CaloDijetSep2016F*(1+(p1_CaloDijetSep2016F*(mjj/sqrts))+(p2_CaloDijetSep2016F*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2016F))',mjj,p0_CaloDijetSep2016F,p1_CaloDijetSep2016F,p2_CaloDijetSep2016F,p3_CaloDijetSep2016F,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2016F*CaloDijetSep2016F_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2016G]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2016G[3.9e+08]',
              'p0_CaloDijetSep2016G[1]','p1_CaloDijetSep2016G[5.04e-03]','p2_CaloDijetSep2016G[7.06]','p3_CaloDijetSep2016G[4.78]',
              'sqrts[13000]','CaloDijetSep2016G_bkg_norm[1]',
              'meff_CaloDijetSep2016G[-1]','seff_CaloDijetSep2016G[-1]',"nPar_CaloDijetSep2016G[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2016G_bkg(th1x,p1_CaloDijetSep2016G,p2_CaloDijetSep2016G,p3_CaloDijetSep2016G,sqrts)',
                "EXPR::CaloDijetSep2016G_bkg_unbin('pow(p0_CaloDijetSep2016G*(1+(p1_CaloDijetSep2016G*(mjj/sqrts))+(p2_CaloDijetSep2016G*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2016G))',mjj,p0_CaloDijetSep2016G,p1_CaloDijetSep2016G,p2_CaloDijetSep2016G,p3_CaloDijetSep2016G,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2016G*CaloDijetSep2016G_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2017C]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2017C[3.9e+08]',
              'p0_CaloDijetSep2017C[1]','p1_CaloDijetSep2017C[5.04e-03]','p2_CaloDijetSep2017C[7.06]','p3_CaloDijetSep2017C[4.78]',
              'sqrts[13000]','CaloDijetSep2017C_bkg_norm[1]',
              'meff_CaloDijetSep2017C[-1]','seff_CaloDijetSep2017C[-1]',"nPar_CaloDijetSep2017C[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2017C_bkg(th1x,p1_CaloDijetSep2017C,p2_CaloDijetSep2017C,p3_CaloDijetSep2017C,sqrts)',
                "EXPR::CaloDijetSep2017C_bkg_unbin('pow(p0_CaloDijetSep2017C*(1+(p1_CaloDijetSep2017C*(mjj/sqrts))+(p2_CaloDijetSep2017C*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2017C))',mjj,p0_CaloDijetSep2017C,p1_CaloDijetSep2017C,p2_CaloDijetSep2017C,p3_CaloDijetSep2017C,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2017C*CaloDijetSep2017C_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2017D]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2017D[3.9e+08]',
              'p0_CaloDijetSep2017D[1]','p1_CaloDijetSep2017D[5.04e-03]','p2_CaloDijetSep2017D[7.06]','p3_CaloDijetSep2017D[4.78]',
              'sqrts[13000]','CaloDijetSep2017D_bkg_norm[1]',
              'meff_CaloDijetSep2017D[-1]','seff_CaloDijetSep2017D[-1]',"nPar_CaloDijetSep2017D[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2017D_bkg(th1x,p1_CaloDijetSep2017D,p2_CaloDijetSep2017D,p3_CaloDijetSep2017D,sqrts)',
                "EXPR::CaloDijetSep2017D_bkg_unbin('pow(p0_CaloDijetSep2017D*(1+(p1_CaloDijetSep2017D*(mjj/sqrts))+(p2_CaloDijetSep2017D*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2017D))',mjj,p0_CaloDijetSep2017D,p1_CaloDijetSep2017D,p2_CaloDijetSep2017D,p3_CaloDijetSep2017D,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2017D*CaloDijetSep2017D_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2017E]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2017E[3.9e+08]',
              'p0_CaloDijetSep2017E[1]','p1_CaloDijetSep2017E[5.04e-03]','p2_CaloDijetSep2017E[7.06]','p3_CaloDijetSep2017E[4.78]',
              'sqrts[13000]','CaloDijetSep2017E_bkg_norm[1]',
              'meff_CaloDijetSep2017E[-1]','seff_CaloDijetSep2017E[-1]',"nPar_CaloDijetSep2017E[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2017E_bkg(th1x,p1_CaloDijetSep2017E,p2_CaloDijetSep2017E,p3_CaloDijetSep2017E,sqrts)',
                "EXPR::CaloDijetSep2017E_bkg_unbin('pow(p0_CaloDijetSep2017E*(1+(p1_CaloDijetSep2017E*(mjj/sqrts))+(p2_CaloDijetSep2017E*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2017E))',mjj,p0_CaloDijetSep2017E,p1_CaloDijetSep2017E,p2_CaloDijetSep2017E,p3_CaloDijetSep2017E,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2017E*CaloDijetSep2017E_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2017F]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2017F[3.9e+08]',
              'p0_CaloDijetSep2017F[1]','p1_CaloDijetSep2017F[5.04e-03]','p2_CaloDijetSep2017F[7.06]','p3_CaloDijetSep2017F[4.78]',
              'sqrts[13000]','CaloDijetSep2017F_bkg_norm[1]',
              'meff_CaloDijetSep2017F[-1]','seff_CaloDijetSep2017F[-1]',"nPar_CaloDijetSep2017F[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2017F_bkg(th1x,p1_CaloDijetSep2017F,p2_CaloDijetSep2017F,p3_CaloDijetSep2017F,sqrts)',
                "EXPR::CaloDijetSep2017F_bkg_unbin('pow(p0_CaloDijetSep2017F*(1+(p1_CaloDijetSep2017F*(mjj/sqrts))+(p2_CaloDijetSep2017F*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2017F))',mjj,p0_CaloDijetSep2017F,p1_CaloDijetSep2017F,p2_CaloDijetSep2017F,p3_CaloDijetSep2017F,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2017F*CaloDijetSep2017F_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2018A]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2018A[3.9e+08]',
              'p0_CaloDijetSep2018A[1]','p1_CaloDijetSep2018A[5.04e-03]','p2_CaloDijetSep2018A[7.06]','p3_CaloDijetSep2018A[4.78]',
              'sqrts[13000]','CaloDijetSep2018A_bkg_norm[1]',
              'meff_CaloDijetSep2018A[-1]','seff_CaloDijetSep2018A[-1]',"nPar_CaloDijetSep2018A[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2018A_bkg(th1x,p1_CaloDijetSep2018A,p2_CaloDijetSep2018A,p3_CaloDijetSep2018A,sqrts)',
                "EXPR::CaloDijetSep2018A_bkg_unbin('pow(p0_CaloDijetSep2018A*(1+(p1_CaloDijetSep2018A*(mjj/sqrts))+(p2_CaloDijetSep2018A*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2018A))',mjj,p0_CaloDijetSep2018A,p1_CaloDijetSep2018A,p2_CaloDijetSep2018A,p3_CaloDijetSep2018A,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2018A*CaloDijetSep2018A_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2018B]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2018B[3.9e+08]',
              'p0_CaloDijetSep2018B[1]','p1_CaloDijetSep2018B[5.04e-03]','p2_CaloDijetSep2018B[7.06]','p3_CaloDijetSep2018B[4.78]',
              'sqrts[13000]','CaloDijetSep2018B_bkg_norm[1]',
              'meff_CaloDijetSep2018B[-1]','seff_CaloDijetSep2018B[-1]',"nPar_CaloDijetSep2018B[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2018B_bkg(th1x,p1_CaloDijetSep2018B,p2_CaloDijetSep2018B,p3_CaloDijetSep2018B,sqrts)',
                "EXPR::CaloDijetSep2018B_bkg_unbin('pow(p0_CaloDijetSep2018B*(1+(p1_CaloDijetSep2018B*(mjj/sqrts))+(p2_CaloDijetSep2018B*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2018B))',mjj,p0_CaloDijetSep2018B,p1_CaloDijetSep2018B,p2_CaloDijetSep2018B,p3_CaloDijetSep2018B,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2018B*CaloDijetSep2018B_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2018C]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2018C[3.9e+08]',
              'p0_CaloDijetSep2018C[1]','p1_CaloDijetSep2018C[5.04e-03]','p2_CaloDijetSep2018C[7.06]','p3_CaloDijetSep2018C[4.78]',
              'sqrts[13000]','CaloDijetSep2018C_bkg_norm[1]',
              'meff_CaloDijetSep2018C[-1]','seff_CaloDijetSep2018C[-1]',"nPar_CaloDijetSep2018C[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2018C_bkg(th1x,p1_CaloDijetSep2018C,p2_CaloDijetSep2018C,p3_CaloDijetSep2018C,sqrts)',
                "EXPR::CaloDijetSep2018C_bkg_unbin('pow(p0_CaloDijetSep2018C*(1+(p1_CaloDijetSep2018C*(mjj/sqrts))+(p2_CaloDijetSep2018C*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2018C))',mjj,p0_CaloDijetSep2018C,p1_CaloDijetSep2018C,p2_CaloDijetSep2018C,p3_CaloDijetSep2018C,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2018C*CaloDijetSep2018C_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]





########################################
########################################


[CaloDijetSep2018D]
variables = ['mjj[526.,526.,2132.]','th1x[0,0,25]']

histoName = 'h_dat_rebin'

variables_range = ['mjj_Low[526.,2132.]', 'mjj_Blind[526.,2132.]', 'mjj_High[526.,2132.]']

combine_parameters = ['Ntot_bkg_CaloDijetSep2018D[3.9e+08]',
              'p0_CaloDijetSep2018D[1]','p1_CaloDijetSep2018D[5.04e-03]','p2_CaloDijetSep2018D[7.06]','p3_CaloDijetSep2018D[4.78]',
              'sqrts[13000]','CaloDijetSep2018D_bkg_norm[1]',
              'meff_CaloDijetSep2018D[-1]','seff_CaloDijetSep2018D[-1]',"nPar_CaloDijetSep2018D[4]"]

combine_pdfs = ['RooPolyPow4ParamBinPdf::CaloDijetSep2018D_bkg(th1x,p1_CaloDijetSep2018D,p2_CaloDijetSep2018D,p3_CaloDijetSep2018D,sqrts)',
                "EXPR::CaloDijetSep2018D_bkg_unbin('pow(p0_CaloDijetSep2018D*(1+(p1_CaloDijetSep2018D*(mjj/sqrts))+(p2_CaloDijetSep2018D*pow((mjj/sqrts),2))),(-p3_CaloDijetSep2018D))',mjj,p0_CaloDijetSep2018D,p1_CaloDijetSep2018D,p2_CaloDijetSep2018D,p3_CaloDijetSep2018D,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_CaloDijetSep2018D*CaloDijetSep2018D_bkg)']

signal_mjj = [526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25+1)


FitMultipliers = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]






